<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>SUBSCRIPTION</title>

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>Mean-test</title>
</head>
<body data-gr-c-s-loaded="true" class="bg-light">

    <div class="containter-fluid" ng-controller="testController">
        <section class="container">
            <div class="col-md-8 offset-xl-2 mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <form ng-submit="calculateSum()" class="needs-validation">
                            <div class="form-group text-center mt-2">
                                <h3 class="font-weight-bold text-dark">
                                    Angular.js TEST
                                </h3>
                            </div>
                            <div class="row ml-5 mr-5">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons text-primary">
                                                    looks_one&nbsp;
                                                </i>
                                            </span>
                                            <input ng-model="firstNumber" type="number" placeholder="&nbsp; Input your first number" class="form-control" autocomplete="on" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text text-primary">
                                                <i class="material-icons">
                                                    looks_two&nbsp;
                                                </i>
                                            </span>
                                            <input ng-model="secondNumber" type="number" placeholder="&nbsp; Input your second number" class="form-control" autocomplete="on" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-lg-flex align-items-right mt-5 pr-lg-5 mt-lg-3">
                                <!-- <div class="input-group pl-lg-3 font-weight-bold">
                                    <div ng-if="spc.singupParentError" class="invalid-form ml-5">
                                        <label for="">{{spc.singupParenErrorMsg}}</label>
                                    </div>
                                </div> -->
                                <button type="submit" class="ml-auto p-2 pl-2 pr-2 btn btn-raised btn-success">
                                    Calculate your number
                                </button>
                            </div>  
                        </form>                     
                    </div>
                </div>
            </div>
        </section>
            </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

    <!-- Import main libraries from assets -->
    <script src="js/app.js"></script>
    
</body>
</html>